option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: server/server.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "client/build/static/"

container_commands:
  01_node_install:
    command: "curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash -"
  02_nodejs_install:
    command: "yum install -y nodejs"
  03_client_deps_install:
    command: "npm install"
    cwd: "/var/app/ondeck/client"
  04_client_build:
    command: "npm run build"
    cwd: "/var/app/ondeck/client"
  05_client_move:
    command: "mv client/build/* /var/app/ondeck/"
